@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");

body {
  background: url(./background.png) no-repeat center center fixed;
  background-size: cover;
  font-family: "Gloria Hallelujah", cursive;
  color: white;
  text-align: center;
}

#board {
  width: 450px;
  height: 450px;
  background-color: lightblue;
  border: 5px solid slategray;
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

#board img {
  width: 50px;
  height: 50px;
}
